#redirect-warning  {position: fixed; z-index:2000; top:50%; left:50%; width:440px; height:200px; margin-top:-200px; margin-left:-220px; padding-top:100px; background: #FACE2E; color:#88162D; font-size:2em; text-align:center; border:1px solid #ccc;  box-shadow: 6px 7px 32px 0px rgba(0,0,0,0.75);}
#stay-on-page {margin-top:20px;}